@font-face {
    font-family: "Open Sans";
    src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: "Space Mono";
    src: url(fonts/SpaceMono-Regular.ttf);
}

body {
    font-family: 'Open Sans', sans-serif;
    color: rgb(51, 51, 51);
    margin: 0;
}

input {
    font-family: 'Open Sans', sans-serif;
}

.dodgerblue {
    color: dodgerblue !important;
}
.crimson {
    color: crimson !important;
}
/* 
===============
Titlebar
===============
*/

#titleBarCon {
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    background: linear-gradient(to right, rgb(64, 159, 255), rgb(0, 242, 254));
    border-radius: 0 0 10px 10px;
    background-blend-mode: screen;
}
.titleBar {
    width: 30%;
    padding: 0 10px;
    font-size: smaller;
    color: #003366;
}
#pageTitle {
    text-align: center;
    font-size: 1.4em;
}
#timeDiv {
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
}
#timeDisp {
    margin-right: 10px;
}
#dateCon {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

/* 
===============
Page menu
===============
*/
#pageMenuSec {
    position: absolute;
    left: 10%;
}
.pageMenuBtn {
    font-family: 'Space Mono', monospace;
    padding: 0 5px;
    font-size: 0.85em;
    margin-right: 5px;
    outline: none;
    color: #000080;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    border: 2px solid transparent;
}
.pageMenuBtn:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

/* 
===============
Popup
===============
*/

#popupSec {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}
#popupCon {
    position: relative;
    width: 30%;
    height: auto;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}
#popupTitle {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgrey;
    font-size: 1.2em;
}
#dateInput, #timeInput {
    width: 30%;
}
.inputToggle {
    position: absolute;
    left: 10%;
    outline: none;
}
.inputDiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.inputLabel {
    font-size: 0.8em;
    margin-bottom: 5px;
}
.popupInput {
    padding: 2px;
    border: 1px solid grey;
    border-radius: 3px;
    outline: none;
    width: auto;
}
.popupInput:disabled {
    background-color: lightgrey;
}
#popupError {
    font-weight: bold;
    font-style: oblique;
    font-size: 0.8em;
    color: crimson;
}
#submitPopupBtn {
    width: 50px;
}
#clearPopupBtn {
    position: absolute;
    right: 4%;
    top: 7%;
    font-size: 0.8em;
}
#clearPopupBtn:hover {
    color: rgb(158, 158, 158);
    cursor: pointer;
}

/* 
===============
Item Menu
===============
*/

#itemMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: white;
}
.menuOption {
    /*border: 1px solid grey;*/
    padding: 0 2px;
    font-size: 0.8em;
    color: grey;
}
.menuOption:hover {
    background-color: rgb(243, 243, 243);
    color: black;
    cursor: pointer;
}

/* 
===============
Body
===============
*/

#bodySec {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;
}
.bodyCon {
    width: 40%;
    padding: 10px;
    margin-bottom: 50px;
    position: relative;
}
.bodyConHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.subTitle {
    font-size: 1.1em;
}
.inputCon {
    background: 
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(90deg, #4facfe, #00f2fe) border-box;
    background-attachment: fixed;
    border: 5px solid transparent;
    border-radius: 4px;
    padding: 5px;
    margin-top: 5px;
    box-sizing: border-box;
    height: 300px;
}
.inputElement {
    outline: none;
    resize: none;
}

.menuIcon {
    width: 30px;
}
.menuIcon:hover {
    opacity: 0.2;
    cursor: pointer;
}
.menuIcon > div{
    width: 15px;
    height: 1px;
    background-color: black;
    margin: 3px auto;
}

.newBtn {
    border: 1px solid grey;
    border-radius: 5px;
    width: 15px;
    height: 15px;
}
.newBtn:hover {
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}
.newBtn > div:first-child {
    width: 9px;
    height: 1px;
    position: relative;
    top: 7px;
    left: 3px;
    background-color: grey;
}
.newBtn > div:last-child {
    width: 1px;
    height: 9px;
    position: relative;
    top: 2px;
    left: 7px;
    background-color: grey;
}

/* 
===============
Quick notes
===============
*/

#quickNotesInput {
    font-family: 'Space Mono', monospace;
    width: 100%;
    overflow: auto;
    border: none;
    height: 100%;
}

/* 
===============
Reminders
===============
*/

#reminderInputCon {
    overflow: auto;
}

.reminderCon {
    display: flex;
    padding: 5px 0;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lightgrey;
    font-size: 0.9em;
}
.reminderCon:first-child {
    border-top: none;
}
.reminderCon:hover {
    background-color: rgb(243, 243, 243);
}
.reminderTime {
    width: 20%;
    text-align: center;
    font-size: 0.8em;
    color: grey;
    overflow: hidden;
}
.reminderTitle {
    width: 75%;
    overflow: hidden;
    white-space: nowrap;
}

.infinity {
    transform: scale(2);
}
.infinity::before {
    content: '\221E';
}
.mergedReminder {
    border-top: none !important;
}