@font-face {
    font-family: "Open Sans";
    src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: "Space Mono";
    src: url(fonts/SpaceMono-Regular.ttf);
}

body {
    font-family: 'Open Sans', sans-serif;
    color: rgb(51, 51, 51);
}

/* title bar */

#titleBarCon {
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
.titleBar {
    width: 30%;
    padding: 0 10px;
    font-size: smaller;
}
#pageTitle {
    text-align: center;
    font-size: 1.4em;
}
#timeDiv {
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
}
#timeDisp {
    margin-right: 10px;
}
#dateCon {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

/* body */

#bodySec {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 50px;
}
.bodyCon {
    box-sizing: border-box;
    width: 40%;
    padding: 10px;
}
.subTitle {
    color: gray;

}
.inputCon {
    border: 1px solid lightgrey;
}
.inputElement {
    outline: none;
    resize: none;
}

/* quick notes */
#quickNotesInput {
    font-family: 'Space Mono', monospace;
    width: 100%;
    padding: 5px;
    overflow: auto;
    border: none;
}